@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Source+Sans+Pro&display=swap');

body { border:0; outline:0; margin:0; padding:0; font-size:16px; font-family:'Source Sans Pro', sans-serif; line-height:30px; }
h2 { text-transform:uppercase; text-align:center; font-family:'Raleway', sans-serif; }
a { text-decoration:none; color:#333; transition:0.2s all ease-in; }
a:hover { color:#00b4d9; transition:0.2s all ease-in; }
p { margin:30px; font-size:16px; }
hr { margin:120px 0; border:none; border-top:1px solid #ccc; }

.header { height:70px; background:#fff; }
.header .container { margin:0 auto; padding:5px; width:1140px; }
.header .logo { width:65%; display:inline-block; }
.header a { display:inline-block; margin:5px 15px; text-transform:uppercase; font-size:14px; font-weight:bold; line-height:50px; }
.center {display: block; margin-left:auto; margin-right:auto; width:50%;}
.content { margin:0 auto; padding-bottom:100px; background:#fff; }
.content .container { margin:0 auto; width:1000px; min-height:500px; }
.content .banner { background:#ddd; height:400px; }
.content table.team { width:100%; margin:100px 0; }
.content table.team td { text-align:center; }
.content table.team b, .content table.team i { display:block; font-style:normal; }

.footer { height:50px; line-height:50px; background:#333; color:#fff; text-align:center; font-size:smaller; }

@media only screen and (max-width:768px) {
  p { font-size:20px; }
  .content .container { padding:0; width:100%; }
  .content table.team td { display:block; width:100%; padding:0 0 50px; }
  .content table.team td:last-child { padding:0; }
}

@media (max-width:480px){
  .flexibile{width:75%;}
}
