@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Source+Sans+Pro&display=swap');

body { border:0; outline:0; margin:0; padding:0; font-size:16px; font-family:'Source Sans Pro', sans-serif; line-height:30px; }
h2 { font-family:'Raleway', sans-serif; }
a { text-decoration:none; color:#333; transition:0.2s all ease-in; }
a:hover { color:#00b4d9; transition:0.2s all ease-in; }
hr {border:none; border-top:1px solid #ccc; }
.footer { height:50px; line-height:50px; background:#333; color:#fff; text-align:center; font-size:smaller; }
