@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Source+Sans+Pro&display=swap');

body { border:0; outline:0; margin:0; padding:0; font-size:16px; font-family:'Source Sans Pro', sans-serif; line-height:30px; }
h2 { font-family:'Raleway', sans-serif; }
a:link{color: blue;}
hr {border:none; border-top:1px solid #ccc; }
.footer { height:50px; line-height:50px; background:#333; color:#fff; text-align:center; font-size:smaller; }

table.doc { width:100%; }
table.doc td { padding:10px 10px 10px 0; vertical-align:top; width:25%; }
table.doc td:first-child { padding:10px; }
table.doc div { padding:30px; height:100px; background:#f5f5f5; }
table.doc span { display:block; margin-bottom:20px; height:70px; line-height:25px; font-size:20px; color:#385465; }
table.doc a { display:inline-block; padding:5px 15px; border-radius:20px; border:1px solid rgba(0,152,242,1); background:#fff; color:rgba(0,152,242,1); text-decoration:none; text-align:center; transition:150ms all ease-in-out; }
table.doc a:hover { background:rgba(0,152,242,1); color:#fff; }
